name: Build release APKs

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "zulu"
          cache: 'gradle'

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Accept licenses
        run: yes | sdkmanager --licenses

      - name: Install NDK and CMake
        run: |
          sdkmanager "ndk;26.1.10909125" "cmake;3.22.1"

      - name: Build APKs (32bit + 64bit + universal)
        run: ./gradlew assembleRelease

      - name: Create GitHub Release & Upload APKs
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.1
          name: "Release v1.1"
          files: |
            app/build/outputs/apk/release/app-armeabi-v7a-release.apk
            app/build/outputs/apk/release/app-arm64-v8a-release.apk
            app/build/outputs/apk/release/app-universal-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}